<h1>Escolha de Produtos</h1>
<h2>Invista na sua carreira agora mesmo!</h2>
<div">
  <%= form_for @subscript do |f| %>
    <%= f.text_field :name, placeholder: "Nome" %> <br/>
    <%= f.text_field :email, placeholder: "Email" %> <br/>
    <%= f.text_field :phone, placeholder: "Telefone" %> <br/>
    <%= f.text_area :description, placeholder: "Descrição" %> <br/>
    <%= f.select :language, ["JavaScript", "Python", "Java", "Php", "Ruby", "C++", "Rust"], include_blank: "Linguagem" %> <br/>
    <%= f.select :schooling, ["Fundamental", "Médio", "Superior Incompleto", "Superior Completo"], include_blank: "Escolaridade" %> <br/>
    <%= f.submit "Enviar" %> <br/>
  <% end %>
</div>