<h1 id="h1" class="center white">Escolha de Produtos</h1>
<h2 id="" class="center white">Invista na sua carreira agora mesmo!</h2>
<div id="center" class="center">
  <%= form_for @subscript do |f| %>
    <%= f.text_field :name, placeholder: "Nome" %> <br/>
    <%= f.text_field :email, placeholder: "Email" %> <br/>
    <%= f.text_field :phone, placeholder: "Telefone" %> <br/>
    <%= f.text_area :description, placeholder: "Descrição", :rows => 5, :cols => 50 %> <br/>
    <%= f.select :language, ["JavaScript", "Python", "Java", "Php", "Ruby", "C++", "Rust"], include_blank: "Linguagem" %> <br/>
    <%= f.select :schooling, ["Fundamental", "Médio", "Superior Incompleto", "Superior Completo"], include_blank: "Escolaridade" %> <br/>
    <%= f.submit "Comprar" %> <br/>
  <% end %>
</div>